/* ! Reset css and root */
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root{
    --logo-color:#323232;
    --secondary-heading: #000000;
    --third-heading: #455A64;
    --bg-orange: #FE9563;
    --bg-orange-blur: #fe94639a;
    --black: #000000;
    --btn-1-color: #F3FCFF;
    --text-color: #535359;
}
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
