@import url("./base.css");



header{
    background-image: url("../image/header/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 2rem;
    margin-bottom: 8.4rem;
    min-height: 55rem;
}
header img.map-bg{
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 32%;
}
.navigation{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: .5rem;
}

.navigation__logo{
    display: flex;
    align-items: center;
    gap: .4rem;
    img{
        width: 2.7rem;
        height: 2.6rem;
    }
    .navigation__logo__title{
        font-weight: 700;
        font-size: 2.77rem;
        line-height: 100%;
        color: var(--logo-color);
        font-family: "Istok Web", sans-serif;
    }
}

.navigation__bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;

    .navigation__bar__list{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        .navigation__bar__list-items{
            position: relative;
            padding: 1rem;

            & a{
                font-weight: 700;
                font-size: 1.371rem;
                line-height: 100%;
                color: var(--black);
            }


            & ul{
                position: absolute;
                top:100%;
                left: 0;
                width: 100%;
                z-index: 9999;
                display: flex;
                flex-direction: column;
                gap: .5rem;
                height: 0;
                overflow: hidden;
                background-color: var(--main-bg-color);
                box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
                border-bottom-left-radius: .5rem;
                border-bottom-right-radius: .5rem;
                transition: all .3s;
                li{
                    padding: 1rem;
                    height: inherit;
                    transition: all .3s;
                }
                li:hover{
                    background-color: var(--bg-orange);
                    & a{
                        color: var(--third-heading);
                    }
                }
            }
            &:hover{
                box-shadow: rgb(148, 44, 3) 0px 25px 50px -12px; 
                background-color: var(--bg-orange);
                a {
                    color: var(--third-heading);
                }
            }
            &:hover ul{
                overflow: auto;
                height: auto;
            }

        }
    }

    .navigation__bar__btn{
        width: max-content;
        height: max-content;
        padding: .5rem 1.9rem;
        font-weight: 700;
        font-size: 1.371rem;
        line-height: 100%;
        color: var(--black);
        border: .3rem solid var(--bg-orange);
        border-radius: .5rem;
        background-color: transparent;
        cursor: pointer;

        &:hover{
            background-color: var(--bg-orange);
            color: var(--third-heading);
            transform: scale(.9);
        }
    }
}

/* ! Burger Menu */
.burger-menu{
    display: none;
    width: 30px;
    height: 20px;
    position: fixed;
    left: 0;
    top: .5rem;
    z-index: 999;
}
.burger-menu span{
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--bg-orange);
    position: absolute;
    left: 0;
    transform-origin: left center;
    transform: rotate(0);
    transition: .3s ease-in-out;
    cursor: pointer;
    border-radius: 9px;
}
.burger-menu span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
.burger-menu span:nth-child(3){
    top: 100%;
    transform: translateY(-100%);
}
.navigation input{
    display: none;
}
input:checked + .burger-menu span{
    background-color: var(--logo-color);
}
input:checked + .burger-menu span:nth-child(1){
    transform: rotate(45deg);
    left: 5px;
}
input:checked + .burger-menu span:nth-child(2){
    width: 0;
    opacity: 0;
}
input:checked + .burger-menu span:nth-child(3){
    transform: rotate(-45deg);
    top: 21px;
    left: 5px;
}

/* * Navigation and header side are done */

main{
    display: flex;
    flex-direction: column;
    gap: 10rem;
}
/* ! Entrance section */

.entrance{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    position: relative;
    z-index: 155;
}
.entrance__text{
    max-width: 50%;
}
.entrance__image{
    max-width: 50%;
    img{
        width: 100%;
        height: 50%;
    }
}
.entrance__text .entrance__text__title{
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 126%;
    color: var(--third-heading);
    margin-bottom: 1.7rem;
}
.entrance__text__paragraph{
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 147%;
    color: var(--text-color);
    margin-bottom: 2.6rem;
}
.entrance__text__links{
    display: flex;
    gap: 1rem;
    align-items: center;
    max-width: max-content;
    margin-bottom: 1.6rem;
}
.entrance__text__links-btn{
    padding: .9rem 2.5rem;
    border-radius: .6rem;
    background-color: var(--third-heading);
    color: var(--btn-1-color);
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 147%;
    transition: all .3s;
    &:hover{
        background-color: var(--bg-orange);
        color: var(--third-heading);
        transform: scale(.9);
    }
}
.entrance__text__links-items{
    display: flex;
    gap: .6rem;
    align-items: center;
    img{
        max-width: 2rem;
        max-height: 2.5rem;
    }
}
.entrance__text__links-items .see-more{
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--third-heading);
    line-height: 147%;
}

.entrance__text__offer{
    display: flex;
    align-items: center;
    & a:first-child{
        padding-right: .6rem;
        margin-right: .6rem;
        border-right: 2px solid var(--bg-orange);
    }
    a{
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 188%;
        color: var(--third-heading);
    }
}


/* ! Skills section */

.skills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6rem;
}
.skills__cards{
    max-width: 28rem;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 4rem 3.6rem;
    border-radius: 4.4rem;
    background-color: var(--cards-bg);
    box-shadow: 5px 5px 10px var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    transition: all .2s;

    &:hover{
        transform: scale(1.05);
    }
}
.skills__cards-icon img{
    width: 7.6rem;
}
.skills__cards-title{
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 147%;
    color: var(--cards-text-color);
    font-family: "Roboto", sans-serif;
}
.skills__cards-context{
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 147%;
    color: var(--text-color);
}
/* * Skills section done */


/* ! sharing files, media and locations */

.sharing{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    gap: 3rem;
}
.sharing__img{
    width: 100%;
}
.sharing__img img{
    width: 100%;
    height: auto;
}
.sharing__text{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.sharing__text__title{
    font-weight: 700;
    font-size: 4rem;
    line-height: 126%;
    color: var(--third-heading);
}
.sharing__text__paragraph{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 148%;
    color: var(--text-color);
}
/* * Sharing section done */



/* ! Services section */

.services{
    width: 90%;
    margin: 0 auto;
    padding: 13.5rem 8rem;
    background: linear-gradient(to right, #F7E6CB, #F5F2EB);
    border-radius: 4.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    box-shadow: 5px 5px 15px var(--box-shadow), 3px 3px 10px var(--box-shadow);
}
.services__text{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.services__text__lines{
    display: flex;
    justify-content: first baseline;
    gap: 1rem;
}
.services-content h4{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 148%;
    color: var(--cards-text-color);
}
.services-content p{
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 148%;
    color: var(--text-color);
}
.services-icon img{
    width: 4rem;
}
.services__img{
    width: 50%;
}

.services__img img{
    width: 100%;
}
/* * Services section done */




/* ! Security Section */

.security{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.security__heading{
    text-align: center;
}
.security__heading__title{
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 100%;
    color: var(--black);
    margin-bottom: 1.5rem;
}
.security__heading__paragraph{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--content-text-color);
    width: 60%;
    margin: 0 auto;
}
.security__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    gap: 5rem;
}
.security__content__image{
    width: 50%;
}
.security__content__text{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.security__content__text-title{
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 148%;
    color: var(--black);
}
.security__content__text-paragraph{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 148%;
    color: var(--content-text-color);
}
.security__content__text-icons{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    img{
        width: 130px;
    }
}
/* * Security section done */



/* ! Search section */
.search{
    margin-bottom: 5rem;
}
.search__heading{
    font-weight: 700;
    font-size: clamp(1rem, 0.667rem + 2.667vw, 4rem);
    color: var(--black);
    text-align: center;
}
.search form{
    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-top: 3.6rem;
}
.search input{
    width: 100%;
    padding: 2rem;
    border: .5px solid var(--bg-orange);
    font-size: 1.6rem;
    color: #8F8F8F;
    outline: none;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.search button{
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    padding: 1rem 2rem;
    height: 100%;
    font-size: 2rem;
    border: none;
    color: var(--white);
    background-color: var(--bg-orange);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}
/* * Search section done */
/* * Main done */


/* ! Footer */

footer{
    padding: 2rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #F7E6CB, #F5F2EA);
}
.footer__text{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--black);
}
.footer__icon{
    display: flex;
    gap: .9rem;
    img{
        width: 2.8rem;
    }
}
.footer__address{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    .footer__address__mail{
        display: flex;
        align-items: center;
        gap: .5rem;
    }
    .footer__address__phone{
        display: flex;
        align-items: center;
        gap: .5rem;
    }
    img{
        width: 1.8rem;
    }
}

/* * Footer Done */

/* ! MEDIA QUERY RESPONSIVE */
@media (max-width: 768px){
    header {
        min-height: 400px;
    }
    .navigation{
        flex-direction: row-reverse;
        justify-content: flex-start;
        gap: 1rem;
        padding-right: 1rem;
    }
    .navigation__bar{
        flex-direction: row-reverse;
        .burger-menu{
            display: block;
        }
        .navigation__bar__list{
            flex-direction: column;
            padding: 0 2rem;
            align-items: flex-start;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background-color: var(--bg-orange-blur);
            backdrop-filter: blur(10px);
            transform: translateX(-200%);
            transition: all .2s;
            z-index: 990;
            .navigation__bar__list-items{
                min-width: 11rem;
            }
            .navigation__bar__list-items ul{
                top: 0;
                left: 100%;
            }
        }
        input:checked ~ .navigation__bar__list{
            transform: translateX(0);
            padding: 0 3rem;
            width: 100vw;
            opacity: 1;
            box-shadow: rgba(182, 47, 6, 0.4) 5px 5px, rgba(182, 47, 6, 0.3) 10px 10px, rgba(182, 47, 6, 0.2) 15px 15px, rgba(182, 47, 6, 0.1) 20px 20px, rgba(182, 47, 6, 0.05) 25px 25px;
        }
    }


    .entrance{
        padding: 3.5rem;
        flex-direction: column;
        gap: 5rem;
        .entrance__text{
            max-width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            .entrance__text__title{
                font-size: 2rem;
            }
            .entrance__text__paragraph{
                font-size: 1.6rem;
                width: 100%;
            }
        }
        .entrance__image{
            width: 100%;
        }

        .entrance__text .entrance__text__links{
            flex-direction: column;
            gap: 2rem;
        }

    }

    main{
        gap: 5rem;
        .skills__cards{
            max-width: 20rem;
            gap: 1rem;
        }
        .skills__cards-icon img{
            width: 4rem;
        }
        .skills__cards-context{
            font-size: 1rem;
            line-height: 120%;
        }



        .sharing{
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
        }
        .sharing__img{
            width: 70%;
        }
        .sharing__text{
            width: 100%;
            text-align: center;
        }
        .sharing__text__title{
            font-size: 1.8rem;
        }
        .sharing__text__paragraph{
            font-size: 1.5rem;
        }


        .services{
            width: 80%;
            display: block;
            padding: 2rem 3rem;
        }
        .services__img{
            display: none;
        }
        .services__text{
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 2rem;
        }

        .security{
            gap: 3rem;
        }
        .security__heading__title{
            font-size: 3rem;
            margin-bottom: 1rem;
        }
        .security__heading__paragraph{
            font-size: 1.4rem;
            width: 80%;
        }
        .security__content{
            flex-direction: column;
            padding: 1rem 5rem;
            align-items: center;
            justify-content: center;
        }
        .security__content__image{
            width: 80%;
        }
        .security__content__text{
            width: 80%;
            text-align: center;
            gap: 1rem;
        }
        .security__content__text-title{
            font-size: 1.6rem;
            font-weight: 600;
        }
        .security__content__text-paragraph{
            font-size: 1.3rem;
        }
        .security__content__text-icons{
            width: 80%;
            margin: 0 auto;
            gap: 1rem;
            img{
                width: 100%;
            }
        }







        .search input{
            padding: 0.5rem 1rem;
            font-size: 1.3rem;
        }
        .search button{
            padding: 0;
            height: 100%;
            width: 30%;
            font-size: 1.5rem;
            padding: .5rem 1rem;
        }
    }

    footer{
        flex-wrap: wrap;
        gap: 5rem;
        padding: 2rem 5rem;
        align-items: center;
        justify-content: center;
    }
    .footer__icon{
        gap: 2rem;
        flex-wrap: wrap;
    }
}


@media (max-width: 481px){

    header .map-bg{
        display: none;
    }
}















